*{
    padding: 0;
    margin: 0;
}

#main-container{
    background-color: rgb(204, 204, 204);
    height: 175vh;
    width: 100vw;
}

.container{
    background-color: white;
    padding: 20px;
    margin: 0px 30px 0px 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.text{
    text-align: center;
    padding: 10px 0px 35px 0px;
    font-family: 'Arial', sans-serif;
}

ul li a{
    text-decoration-line: none;
	color: black;
    line-height: 25px;
    font-weight: 500;
}


.container2{
    background-color:  rgb(255, 255, 255);
    border: 2px solid black;
    padding: 40px 20px 40px 20px;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
}

p{
    margin-bottom: 20px;
}

.container2 video{
    /* margin-left: 260px; */
    height: 100%;
    width: 100%;
}

.container2 audio{
    width: 100%;
}

